#-------------------------------------------------------------------------------------------------------------------
# Keep this section in sync with .gitignore
# (copy + paste your .gitignore file contents here)
#-------------------------------------------------------------------------------------------------------------------

bin

#-------------------------------------------------------------------------------------------------------------------
# Docker specific exclutions
#-------------------------------------------------------------------------------------------------------------------

.git/
.github/
.gitignore
docker-bake.hcl
Dockerfile
Makefile
